# 로또 번호 가져오기

In [25]:
import requests

In [30]:
url = 'https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo='
num = input('회차번호 : ')

회차번호 : 913

In [32]:
resp = requests.get(url+num)

In [35]:
resp = resp.json()
resp

{'totSellamnt': 89336949000,
 'returnValue': 'success',
 'drwNoDate': '2020-05-30',
 'firstWinamnt': 1338755602,
 'drwtNo6': 37,
 'drwtNo4': 21,
 'firstPrzwnerCo': 16,
 'drwtNo5': 27,
 'bnusNo': 40,
 'firstAccumamnt': 21420089632,
 'drwNo': 913,
 'drwtNo2': 14,
 'drwtNo3': 16,
 'drwtNo1': 6}

In [36]:
if resp['returnValue']=='success':
    print(resp)
else:
    print('회차번호 존재안함. (%s 입력됨.)'%sDrwNum)

{'totSellamnt': 89336949000, 'returnValue': 'success', 'drwNoDate': '2020-05-30', 'firstWinamnt': 1338755602, 'drwtNo6': 37, 'drwtNo4': 21, 'firstPrzwnerCo': 16, 'drwtNo5': 27, 'bnusNo': 40, 'firstAccumamnt': 21420089632, 'drwNo': 913, 'drwtNo2': 14, 'drwtNo3': 16, 'drwtNo1': 6}

In [38]:
lnum=[]
for i in range(1,7):
    lnum.append(resp['drwtNo%d'%i])

print(lnum)

[6, 14, 16, 21, 27, 37]

In [39]:
pip install tinydb

Collecting tinydb
  Downloading tinydb-4.1.1-py3-none-any.whl (21 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from tinydb import TinyDB, Query

## db file 생성
- 파일 기반

In [40]:
db = TinyDB('db.json')

### insert

In [78]:
db.insert({'kind':'apple','count':7})
db.insert({'kind':'peach','count':3})
db.all()

[{'kind': 'apple', 'count': 7}, {'kind': 'peach', 'count': 3}]

In [80]:
for item in db:
    item
datas = [dict(item for item in db)]
type(datas[0])

TypeError: 'str' object is not callable

### search
- Query(), search()

In [82]:
Fruit = Query()
search = db.search(Fruit.type == 'peach')
type(search[0])

IndexError: list index out of range

In [84]:
db.update({'count':10}, Fruit.type=='apple')
db.all()

[{'kind': 'apple', 'count': 7}, {'kind': 'peach', 'count': 3}]

In [86]:
db.remove(Fruit.count<5)
db.all()

[{'kind': 'apple', 'count': 7}]

In [88]:
db.truncate()
db.all()

[]

In [89]:
tb_fruits = db.table('fruits')

In [90]:
tb_fruits.insert({'type':'apple','count':7})
tb_fruits.insert({'type':'peach','count':3})

2

In [91]:
print(tb_fruits.all())
print(db.all())

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]
[]